<!DOCTYPE html>
<!--

-->
<html>
    <head>
        <title>DemoDEPLOY</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a href="/registrar">Registrar usuario</a>
            <br>
            <a href="/usuarios">Ver usuarios</a></div>
            <br>
            <a href="/registrare">Registrar observación</a>
            <br>
            <a href="/observacion">Ver observaciones</a>
    </body>
</html>
